<header id="masthead">
    <div class="header-container">
        <div class="header-row brand">
            <h1>
                <a href="{{ replace:'index.html','' }}" title="Quantum Immersion Day">
                    <img src="ionq.png" alt="IonQ Logo"/>
                    Quantum Immersion Day - Tennessee Edition
                </a>
            </h1>
        </div>
        <nav class="header-row" id="nav">
            <div class="header-nav">
                <ul class="menu">
                    <li class="links-to-floor-li">
                        <a href="#home" data-id="1" class="active">Home</a>
                    </li>
			<!--
                    <li class="links-to-floor-li">
                        <a href="#registration" data-id="2">Registration</a>
			-->
                    </li>
                    <li class="links-to-floor-li">
                        <a href="#venue" data-id="3">Venue</a>
                    </li>
                    <li class="links-to-floor-li">
                        <a href="#agenda" data-id="4">Agenda</a>
                    </li>
                    <li class="links-to-floor-li">
                        <a href="#panel" data-id="5">Panel Discussions</a>
                    </li>
                    <li class="links-to-floor-li">
                        <a href="#birds" data-id="6">Birds of a feather</a>
                    </li>
                    <li class="links-to-floor-li">
                        <a href="#tech" data-id="7">Technology</a>
                    </li>
					<li class="links-to-floor-li">
                        <a href="#sponsors" data-id="5">Sponsors</a>
                    </li>
                </ul>
            </div>
        </nav><!-- / #nav -->
        <div class="header-row copyright">
            <ul>
                <li>&copy; 2025 MTSU Quantum Initiative</li>
                <li>Maintained by: <a href="https://github.com/anirudha-mirmira">MTSU Quantum Initiative</a></li>
            </ul>

            <p class="disclaimer">
                Any opinions, findings, and conclusions or recommendations expressed in this material are those of the author(s).
            </p>

            <a href="#nav" class="hamburger tooltips" title="Menu">
                <span class="hamburger-box">
                    <span class="hamburger-inner">Menu</span>
                </span>
            </a>
        </div>
    </div>
</header><!-- / #masthead -->
